﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


select,
textarea {
    max-width: 280px;
}


.field-validation-error{ color: red; font-weight: bold; }

.home-box {
    border: solid 1px lightgray;
    padding:25px;
    border-radius:6px;

}

.div-row-title{

    background-color:lightgray; 
    
    margin-bottom:14px;
    padding-top:12px;
    padding-bottom:12px;
}